<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Marc Camila - UI/UX Portfolio</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Acumin+Variable+Concept:wght@300&family=Neue&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">MARC ALLEN CAMILA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#about">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#works">WORKS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" id="theme-toggle">
            <span id="theme-icon" class="fas fa-moon"></span>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <main class="container mt-5 d-flex align-items-center justify-content-center">
    <div class="text-center">
      <h1 class="display-4 custom-heading">UI/UX & GRAPHICS DESIGN</h1>
    </div>
    <div class="ml-5">
      <img src="./images/pic1.JPG" alt="UI/UX & Graphics Design" class="img-fluid custom-img">
    </div>
  </main>

  <!-- New div for MARC ALLEN CAMILA -->
  <div class="overlay">
    <h1 class="display-2 custom-subheading">MARC ALLEN CAMILA</h1>
    <div class="separator"></div>
  </div>

<!-- Project Containers -->
<div class="container mt-5">
    <div class="row">
      <div class="col-md-4 mb-4">
        <a href="https://sites.google.com/view/leadershipcompetenciesai" target="_blank" class="project-link">
          <div class="project">
            <img src="./images/leadership.gif" alt="Project 1" class="img-fluid rounded mb-3">
            <p>Leadership Competencies AI, designed to help you develop essential skills and strategies for future success, providing invaluable guidance to navigate challenges with confidence and competence.</p>
          </div>
        </a>
      </div>
      <div class="col-md-4 mb-4">
        <a href="https://ams-dlsud-jade.vercel.app/" target="_blank" class="project-link">
          <div class="project">
            <img src="./images/capstone.gif" alt="Project 2" class="img-fluid rounded mb-3">
            <p>Asset Management Program for De La Salle University - Dasmariñas, specifically for the ICTC Building (Capstone Project)</p>
          </div>
        </a>
      </div>
      <div class="col-md-4 mb-4">
        <a href="https://time-task.vercel.app/" target="_blank" class="project-link">
          <div class="project">
            <img src="./images/timetask.gif" alt="Project 3" class="img-fluid rounded mb-3">
            <p>Explore and manage your time effectively with Task Timer. Track your tasks with precision, discover intriguing random facts during breaks, and stay focused with real-time task duration updates.</p>
          </div>
        </a>
      </div>
      <div class="col-md-4 mb-4">
        <a href="https://example.com/project4" target="_blank" class="project-link">
          <div class="project">
            <img src="project4.jpg" alt="Project 4" class="img-fluid rounded mb-3">
            <p>Project 4 description goes here.</p>
          </div>
        </a>
      </div>
      <div class="col-md-4 mb-4">
        <a href="https://example.com/project5" target="_blank" class="project-link">
          <div class="project">
            <img src="project5.jpg" alt="Project 5" class="img-fluid rounded mb-3">
            <p>Project 5 description goes here.</p>
          </div>
        </a>
      </div>
      <div class="col-md-4 mb-4">
        <a href="https://example.com/project6" target="_blank" class="project-link">
          <div class="project">
            <img src="project6.jpg" alt="Project 6" class="img-fluid rounded mb-3">
            <p>Project 6 description goes here.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <script src="./main.js"></script>
</body>
</html>
