<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Marc Camila - UI/UX Portfolio</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Acumin+Variable+Concept:wght@300&family=Neue&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="/public/css/style.css">
</head>
<style>
body {
    font-family: 'Acumin Variable Concept', sans-serif;
    background-color: #191a1d;
    color: #B9BEC1;
    transition: background-color 0.3s, color 0.3s;
}

h1, h2 {
    color: #A4ADFF;
}

.navbar {
    font-family: 'Neue', sans-serif;
    background-color: #191a1d;
    transition: background-color 0.3s;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-brand {
    color: #A4ADFF !important;
    transition: color 0.3s;
}

.navbar-brand:hover {
    color: #C1C9FF !important;
}

.nav-link {
    color: #7E8183 !important;
    position: relative;
    display: inline-block;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #A4ADFF;
    transition: width 0.3s ease, right 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
    right: 0;
}

#theme-icon {
    color: #7E8183;
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.custom-heading {
    color: #A4ADFF;
    font-size: 5rem; /* Increased font size */
    text-align: justify; /* Justify the text */
    text-justify: inter-word; /* Ensures that the text justification spreads words evenly */
}

.custom-subheading {
    font-family: 'Montserrat', sans-serif; /* Montserrat font */
    font-weight: 400; /* Regular weight for Montserrat */
    color: #A4ADFF; /* Text color */
    font-size: 8rem; /* Large size */
    position: relative; /* Position absolute for layering */
    top: 50%; /* Centered vertically */
    left: 50%; /* Centered horizontally */
    transform: translate(-50%, -50%); /* Centered alignment */
    text-align: center;
    margin-top: 150px;

    /* Outline effect using text-stroke */
    -webkit-text-stroke: 3px #000; /* For webkit browsers */
}

.separator {
    width: 1450px; /* Adjust width as needed */
    height: 1px; /* Thickness of the separator line */
    background-color: #A4ADFF; /* Color of the separator line */
    margin: -80px auto; /* Margin for centering */
    align-items: center;
    margin-bottom: 10px;
  }

.light-mode .custom-subheading {
    color: #A4ADFF; /* Dark mode text color */
    /* Outline effect using text-stroke */
    -webkit-text-stroke: 3px #191a1d; /* For webkit browsers */
}

.custom-img {
    width: 200px; /* Fixed width */
    height: 200px; /* Fixed height */
    border-radius: 15px; /* Rounded edges */
    object-fit: cover; /* Ensures the image covers the box without distorting */
    object-position: center top; /* Positions the image lower in the box */
    transition: box-shadow 0.3s;
}

.custom-img:hover {
    box-shadow: 0 8px 16px rgba(164, 173, 255, 0.7); /* Slightly stronger shadow on hover */
}

.light-mode .custom-img {
    box-shadow: 0 4px 8px rgba(25, 26, 29, 0.5); /* Faint drop shadow for light mode */
}

.light-mode .custom-img:hover {
    box-shadow: 0 8px 16px rgba(25, 26, 29, 0.7); /* Slightly stronger shadow on hover */
}

.project {
    background: #fff;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;

}

.project img {
    width: 100%; /* Make the image take up the full width of the container */
    height: auto; /* Maintain the aspect ratio */
    border-radius: 10px; /* Rounded edges */
    object-fit: cover; /* Ensure the image covers the container without distortion */
}

.project:hover {
    transform: translateY(-10px);
}


.project-link {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color */
  }
  
  .project-link:hover {
    cursor: pointer;
    text-decoration: none; /* Remove underline on hover */
    color: inherit; /* Inherit text color on hover */
  }
  

/* Light mode styles */
.light-mode {
    background-color: #DDE0E2;
    color: #191a1d;
}

.light-mode h1, .light-mode h2 {
    color: #191a1d;
}

.light-mode .project {
    background: #191a1d;
    color: #DDE0E2;
}

.light-mode .nav-link {
    color: #191a1d !important;
}

.light-mode #theme-icon {
    color: #191a1d;
}

.light-mode .navbar {
    background-color: #DDE0E2;
}

.light-mode .navbar-brand {
    color: #191a1d !important;
}

.light-mode .navbar-brand:hover {
    color: #616161 !important;
}





</style>
<body>
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">MARC ALLEN CAMILA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#about">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#works">WORKS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" id="theme-toggle">
            <span id="theme-icon" class="fas fa-moon"></span>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <main class="container mt-5 d-flex align-items-center justify-content-center">
    <div class="text-center">
      <h1 class="display-4 custom-heading">UI/UX & GRAPHICS DESIGN</h1>
    </div>
    <div class="ml-5">
      <img src="/public/images/pic1.JPG" alt="UI/UX & Graphics Design" class="img-fluid custom-img">
    </div>
  </main>

  <!-- New div for MARC ALLEN CAMILA -->
  <div class="overlay">
    <h1 class="display-2 custom-subheading">MARC ALLEN CAMILA</h1>
    <div class="separator"></div>
  </div>

<!-- Project Containers -->
<div class="container mt-5">
    <div class="row">
      <div class="col-md-4 mb-4">
        <a href="https://sites.google.com/view/leadershipcompetenciesai" target="_blank" class="project-link">
          <div class="project">
            <img src="/public/images/leadership.gif" alt="Project 1" class="img-fluid rounded mb-3">
            <p>Leadership Competencies AI, designed to help you develop essential skills and strategies for future success, providing invaluable guidance to navigate challenges with confidence and competence.</p>
          </div>
        </a>
      </div>
      <div class="col-md-4 mb-4">
        <a href="https://ams-dlsud-jade.vercel.app/" target="_blank" class="project-link">
          <div class="project">
            <img src="/public/images/capstone.gif" alt="Project 2" class="img-fluid rounded mb-3">
            <p>Asset Management Program for De La Salle University - Dasmariñas, specifically for the ICTC Building (Capstone Project)</p>
          </div>
        </a>
      </div>
      <div class="col-md-4 mb-4">
        <a href="https://time-task.vercel.app/" target="_blank" class="project-link">
          <div class="project">
            <img src="/public/images/timetask.gif" alt="Project 3" class="img-fluid rounded mb-3">
            <p>Explore and manage your time effectively with Task Timer. Track your tasks with precision, discover intriguing random facts during breaks, and stay focused with real-time task duration updates.</p>
          </div>
        </a>
      </div>
      <div class="col-md-4 mb-4">
        <a href="https://example.com/project4" target="_blank" class="project-link">
          <div class="project">
            <img src="project4.jpg" alt="Project 4" class="img-fluid rounded mb-3">
            <p>Project 4 description goes here.</p>
          </div>
        </a>
      </div>
      <div class="col-md-4 mb-4">
        <a href="https://example.com/project5" target="_blank" class="project-link">
          <div class="project">
            <img src="project5.jpg" alt="Project 5" class="img-fluid rounded mb-3">
            <p>Project 5 description goes here.</p>
          </div>
        </a>
      </div>
      <div class="col-md-4 mb-4">
        <a href="https://example.com/project6" target="_blank" class="project-link">
          <div class="project">
            <img src="project6.jpg" alt="Project 6" class="img-fluid rounded mb-3">
            <p>Project 6 description goes here.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>

  <script>
document.addEventListener('DOMContentLoaded', function () {
    const themeToggle = document.getElementById('theme-toggle');
    const themeIcon = document.getElementById('theme-icon');
    const body = document.body;

    themeToggle.addEventListener('click', function (event) {
        event.preventDefault();
        body.classList.toggle('light-mode');

        if (body.classList.contains('light-mode')) {
            themeIcon.classList.remove('fa-moon');
            themeIcon.classList.add('fa-sun');
        } else {
            themeIcon.classList.remove('fa-sun');
            themeIcon.classList.add('fa-moon');
        }
    });
});







  </script>
</body>
</html>
